.veg{
  width: auto;
  height: 103px;
  padding-left: 160px;
  font-family: Arial Black;
  font-size: 44px 36px;
  color: #778A50;
  background-color: #EDF2C5;
  height:103px;
  float:left;

}

#head{
  margin-top: 53px;
  float: left;
}

#fb{
  float: left;
  padding-left: 476px;
}

#all{
  width: 1260px;
  height: 940px;
  background-color: #EDF2C5;
}

.img{
  margin-top: 53px;
  float: left;
  color: #778A50;
  padding-right: 10px;
}

#line{
  float: left;
  width:1px;
  height: 25px;
  background-color: #778A50;
  margin-top: 53px;
  margin-right: 10px;
}

#txt{
  font-family: Arial Black;
  text-align: center;
  margin-top: 53px;
  float: left;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 10px;
  border:1px solid;
  border-radius: 3px;
  color:#778A50;
  background-color: #EDF2C5;
  box-shadow: 0px 2px 6px 0px;
}

#list{
  float: left;
  background-color: #778A50;
  width:940px;
  height:44px;
}

.listt{
  padding-top: 10px;
  margin-left: 30px;
  margin-right: 30px;
  float: left;
  font-size: 16px;
  color: #EDF2C5;
}

#PP{
  float: left;
  margin-top: 20px;
}

#block_l{
  float: left;
}

#VG{
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  color: #EDF2C5;
  float: left;
  width: 415px;
  background-color: #778A50;
  margin-top: 30px;
}

#vg{
  clear: left;
}

.pic{
  float: left;
  margin-top: 15px;
  margin-right: 12px;
}

#block_r{
  float: right;
}

#CT{
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  color: #EDF2C5;
  float: right;
  width: 415px;
  background-color: #778A50;
  margin-top: 30px;
  margin-right: 160px;
  margin-bottom: 15px;
}

#ptb{
  clear: both;
  background-color: #F7FBDA;
  width: 445px;
  height: 140px;
}

#btx{
  font-size: 12px;
  line-height: 1.33;
  font-family: Arial Bold;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
}

#line2{
  margin-left: 15px;
  margin-top: 15px;
  width: 414px;
  height: 1px;
  background-color: #7D7D7D;
}

#con{
  font-size: 12px;
  font-family: Arial Bold;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  line-height: 1.83;
}

#footer{
  width: 1260px;
  height: 60px;
  background-color:#778A50;
}

#last{
  padding-top: 24px;
  padding-left: 479px;
  font-size: 12px;
  color:#EDF2C5;
}
